{% extends 'base.html' %}
{% block content %}
    {% load bootstrap4 %}
    {% load fontawesome %}
    {% fontawesome_stylesheet %}


    {% for music in object %}
        <br>
        <h3> 購買資訊如下</h3>
        <table class="table">
        <thead>
        <tr>
            <th scope="col">音樂名稱</th>
            <th scope="col">{{ music }}</th>
        </tr>
        <tr>
            <th scope="col">歌手</th>
            <th scope="col">{{ music.singername }}</th>
        </tr>
        <tr>
            <th scope="col">上傳時間</th>
            <th scope="col">{{ music.update_time }}</th>
        </tr>
        <tr>
            <th scope="col">說明</th>
            <th scope="col">{{ music.body }}</th>
        </tr>
        <tr>
            <th scope="col">創世區塊hash value</th>
            <th scope="col">1</th>
        </tr>
        <tr>
            <th scope="col">給予人錢包地址</th>
            <th scope="col">UuDGZpe8QKy9fWePtZidWf4FZ9X33rqRPgZ1eMKXrd7SYrTsBJ9d </th>
        </tr>
        <tr>
            <th scope="col">接收人錢包地址</th>
            <th scope="col">Ky9fWUuDGZpe8f4FZ9X33rqRPgQePtZiXrd7SYrTsBJ9ddWZ1eMK </th>
        </tr>
        <tr>
            <th scope="col">音樂雜湊值</th>
            <th scope="col">6611bc5b01a2fc6a6386a871e8c51f86e1f12b33</th>
        </tr>
        <tr>
            <th scope="col">交易金額</th>
            <th scope="col">3 MusicCoin</th>
        </tr>

        </thead>
        <br>
        <audio controls controlsList="nodownload">
  <source src="{{ music.music.url }}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
    {% endfor %}





{% endblock %}