{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% for user in object %}
<br>
<h3>個人資料</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">姓名</th>
        <th scope="col">{{user.first_name}}</th>
    </tr>
    <tr>
        <th scope="col">使用者名稱(帳號)</th>
        <th scope="col">{{user.username}}</th>
    </tr>
    <tr>
        <th scope="col">信箱</th>
        <th scope="col">{{user.email}}</th>
    </tr>
    <tr>
        <th scope="col">身分證字號</th>
        <th scope="col">{{ user.ssn }}</th>
    </tr>
    <tr>
        <th scope="col">身分證圖檔:</th>
        <th scope="col">{{ user.file }}</th>
    </tr>
    <tr>
        <th scope="col">性別</th>
        <th scope="col">{{ user.gender }}</th>
    </tr>
    <tr>
        <th scope="col">公鑰地址</th>
        <th scope="col">{{ user.publicKey }}</th>
    </tr>
    <tr>
        <th scope="col">錢包地址</th>
        <th scope="col">{{ user.address }}</th>
    </tr>
    <tr>
        <th scope="col">目前餘額</th>
        <th scope="col">{{ user.num }}</th>
    </tr>
    <tr>
        <th scope="col">交易過的音樂</th>
        <th scope="col">(尚未完成)</th>
    </tr>
    <tr>
        <th scope="col">上傳過的音樂</th>
        <th scope="col">{% for music in music_list %}{{ music }}<br>{% endfor %}</th>
    </tr>
    </thead>
    {% endfor %}
    {% endblock %}